<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hello World</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="css/font-awesome.min.css">

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="css/swiper.min.css">

    <!-- Styles -->
    <link rel="stylesheet" href="style.css">
</head>
<body class="events-list-page">
<header class="site-header">
    <div class="header-bar">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-10 col-lg-2 order-lg-1">
                    <div class="site-branding">
                        <div class="site-title">
                            <a href="#"><img src="imagens/logo.png" alt="logo"></a>
                        </div><!-- .site-title -->
                    </div><!-- .site-branding -->
                </div><!-- .col -->

                <div class="col-2 col-lg-7 order-3 order-lg-2">
                    <nav class="site-navigation">
                        <div class="hamburger-menu d-lg-none">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div><!-- .hamburger-menu -->

                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Oficiais</a></li>
                            <li><a href="#">Privados</a></li>
                            <li><a href="#">Campanhas</a></li>
                            <li><a href="#">Sobre nós</a></li>
                        </ul>
                    </nav><!-- .site-navigation -->
                </div><!-- .col -->

                <div class="col-lg-3 d-none d-lg-block order-2 order-lg-3">
                    <div class="buy-tickets">
                        <a class="btn gradient-bg" href="#">Buy Tickets</a>
                    </div><!-- .buy-tickets -->
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container-fluid -->
    </div><!-- .header-bar -->

    <div class="page-header events-page-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <header class="entry-header">
                        <h1 class="entry-title">Eventos privados</h1>
                    </header>
                </div>
            </div>
        </div>
    </div>
</header><!-- .site-header -->

<form class="events-search">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-3">
                <input type="date" placeholder="Date">
            </div>

            <div class="col-12 col-md-3">
                <input type="text" placeholder="Event">
            </div>

            <div class="col-12 col-md-3">
                <input type="text" placeholder="Location">
            </div>

            <div class="col-12 col-md-3">
                <input class="btn gradient-bg" type="submit" value="Search Events">
            </div>
        </div>
    </div>
</form>

<main class="container">
    <div class="eventos-btn">EVENTOS PRIVADOS</div>

 <!-- Galeria com Bootstrap Grid -->
 <section class="galeria mt-4">
    <div class="row g-4">
      <!-- Evento 1 -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="evento card h-100">
          <img src="/template/imagens/BarraFolia.png" class="card-img-top" alt="Evento 1">
          <div class="card-body">
            <p class="card-text"> Barra Folia </p>
          </div>
        </div>
      </div>

      <!-- Evento 2 -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="evento card h-100">
          <img src="/template/imagens/BarraRock.png" class="card-img-top" alt="Evento 2">
          <div class="card-body">
            <p class="card-text"> Barra Rock </p>
          </div>
        </div>
      </div>

      <!-- Evento 3 -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="evento card h-100">
          <img src="/template/imagens/BlocoDoGalo.png" class="card-img-top" alt="Evento 3">
          <div class="card-body">
            <p class="card-text"> Bloco do Gallo </p>
          </div>
        </div>
      </div>

      <!-- Evento 4 -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="evento card h-100">
          <img src="/template/imagens/Niverbarra.png" class="card-img-top" alt="Evento 4">
          <div class="card-body">
            <p class="card-text"> Barra Bonita 142 anos </p>
          </div>
        </div>
      </div>

      <!-- Evento 5 -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="evento card h-100">
          <img src="/imagens/logo.png" class="card-img-top" alt="Evento 5">
          <div class="card-body">
            <p class="card-text"> Evento 5 </p>
          </div>
        </div>
      </div>

      <!-- Evento 6 -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="evento card h-100">
          <img src="/template/imagens/Maratona.png" class="card-img-top" alt="Evento 6">
          <div class="card-body">
            <p class="card-text"> 14º Meia Maratona </p>
          </div>
        </div>
    </section>
  </main>


<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <figure class="footer-logo">
                    <a href="#"><img src="imagens/logo.png" alt="logo"></a>
                </figure>

                <nav class="footer-navigation">
                    <ul class="flex flex-wrap justify-content-center align-items-center">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Events</a></li>
                        <li><a href="#">News</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </nav>

                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

                <div class="footer-social">
                    <ul class="flex flex-wrap justify-content-center align-items-center">
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="back-to-top flex justify-content-center align-items-center">
    <span><svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1395 1184q0 13-10 23l-50 50q-10 10-23 10t-23-10l-393-393-393 393q-10 10-23 10t-23-10l-50-50q-10-10-10-23t10-23l466-466q10-10 23-10t23 10l466 466q10 10 10 23z"/></svg></span>
</div>

<script type='text/javascript' src='js/jquery.js'></script>
<script type='text/javascript' src='js/masonry.pkgd.min.js'></script>
<script type='text/javascript' src='js/jquery.collapsible.min.js'></script>
<script type='text/javascript' src='js/swiper.min.js'></script>
<script type='text/javascript' src='js/jquery.countdown.min.js'></script>
<script type='text/javascript' src='js/circle-progress.min.js'></script>
<script type='text/javascript' src='js/jquery.countTo.min.js'></script>
<script type='text/javascript' src='js/custom.js'></script>

</body>
</html>